@use "variables" as v;
@mixin modal-back{
    background-color: v.$modal;
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 950px;
    display: none;
    z-index: 1;
}
@mixin img-btn($top,$left,$boolean){
    background-color: v.$White;
    width: 40px;
    height:40px;
    padding: 12px;
    border-radius: 50%;
    position: absolute;
    top:$top;
    left: $left;
    &:hover{
        cursor: pointer;
    }
    @media (min-width:1115px) {
        @if($boolean==true){
            display:block;
        }@else{
            display:none
        }
    }
}
@mixin btn-mas($top,$side){
    width: 25px;
    height:100%;
    padding: $top $side;
    &:hover{
        cursor: pointer;
        opacity: .5;
    }
}
@mixin btn{
    display:flex;
    align-items: center;
    justify-content: center;
    gap:15px;
    background-color: v.$Orange;
    width:100%;
    height:57px;
    border-radius: 8px;
    border: none;
    color: v.$White;
    font-size: .9em;
    font-weight: 700;
    &:hover{
        cursor: pointer;
        opacity: .5;
    }
}
@mixin img-cont{
    height: 300px;
    background-image: url("./images/image-product-1.jpg");
    width: 100%;
    background-size:cover;
    background-position-y: -35px;
    &:hover{
        cursor: pointer;
    }

}