@use "initial";
@use "variables";
@use "header";
@use "navbar";
@use "modal-navbar";
@use "gallery";
@use "details";
@use "input";
@use "modalCart";
@use "modalGallery";

.main-container{
    position: relative;
    width: 375px;
    margin: 12px auto;
    @media (min-width:1115px){   
            width: 1115px;
    }
}
.content{
    @media (min-width:1115px) {
        display:flex;
        padding: 90px 50px;
        gap:124px;
    }
}
.show{
    display:block
}
.cart-empty{
    text-align: center;
    font-size: 25px;
    color:variables.$Veryvarkblue;
    margin-top: 40px;
    font-weight: 700;
}
.attribution{
    display: flex;
    flex-direction: column;
    @media (min-width:1115px) {
        display:block;
    }
}